<link rel="stylesheet" href="/css/navbar.css">
<section class="container custom-navbar">
    <div class="logo-web pb-5 mb-5">
        <img src="/Assets/SVG/Logo.svg" alt="">
    </div>
    <div class="weather-icon d-flex justify-content-center align-items-center pt-5 mt-5">
        <img src="/Assets/SVG/Weather.svg" alt="" srcset="">
    </div>
</section>